
:root{
    --primary-text-color:#757575;
    --title-text-colot:#212121;
    --accent-color:#2196f3;
    --primary-white-color:#ffffff;
    --header-bgc-color:#2F303A;
    --team-bgc-color:#f5f4fa;
    --button-bgc-color: #f5f4fa;
    --fotter-contact-color: rgba(255, 255, 255, 0.6);
    --logo-secondary-color:#000000;
    --hover-button-color:#188CE8;
    --header-border-color: #ececec;
  --content-border-color: #eeeeee;
    }
li{
    list-style: none;
}
img{
    display: block;
}
h1,h2,h3,h4,h5,h6,p,ul{
   margin: 0;
   padding: 0;
}
ul{
    display: inline-block;
    padding-left: 0;
}
a{
    text-decoration: none;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0 );
    overflow: hidden;
}
body{
    background-color: var(--primary-white-color);
    font-family:"Roboto",sans-serif;
    font-size: 14px;
    color: var(--primary-text-color);
}
/* Container & Section */

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section{
    padding: 94px 0px;
}
/* Header */

.header{
   border-bottom: 1px solid var(--header-border-color);
}
/* Logo */

.logo-primary{
    font-family:"Raleway",sans-serif;
    padding-top: 24px;
    padding-bottom: 24px;
    color:var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.logo-primary.new{
padding:0px;
}
.logo-secondary-noon{
    font-family:"Raleway",sans-serif;
    color:var(--logo-secondary-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.logo-secondary{
    font-family:"Raleway",sans-serif;
    color:var(--primary-white-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

/* Navigation */

.navigation{
    margin-left: 93px;
}

.navigation-list{
    list-style: none;
    display: flex;
}
.navigation-list .navigation-item + .navigation-item{
    margin-left: 50px;
}
.navigation-item .navigation-link{
    font-weight: 500;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
   line-height: 1.15;
   letter-spacing: 0.02em;
   color: var(--title-text-colot);
}
.navigation-link-active{
    color: var(--accent-color);
    
}
.navigation-item :hover{
color:var(--accent-color);
}
.navigation-item :focus{
    color:var(--accent-color);
}
/* Contact */

.contact-item .contact-link{
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
}
.container.head{
    display: flex;
    align-items: baseline;
}
.contact-list{
    list-style: none;
    display: flex;
    margin-left: auto;
}
.contact-list .contact-item + .contact-item{
    margin-left: 50px;
}
.contact-link:hover,
.contact-link:focus{
    color: var(--accent-color);
}
/* Header */
.section.hero{
    background-color: var(--header-bgc-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}
.hero-title{
    width: 696px;
    margin: 0 auto;
    color:var(--primary-white-color);
    font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn{
    display: inline-block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    font-family:inherit, sans-serif;
    border-color: transparent;
    color:var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
  line-height: 1.8;
  border:var(--accent-color);
  border-style: none;
  border-radius: 4px; 
  letter-spacing: 0.06em;
}
.hero-btn:hover,
.hero-btn:focus{
    color: var(--primary-white-color);
    background-color: var(--hover-button-color);
}

/* Feature */


.feature-list{
    display: flex;
    justify-content: space-between;
}
.feature-list .feature-item + .feature-item{
    margin-left: 30px;
}
.feature-item{
    width: 270px;
}
.feature-title{
    color:var(--title-text-colot);
    font-weight: 700;
    line-height: 1.15;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    
}
.feature-text{
    color:var(--primary-text-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Work */

.work-list{
    list-style: none;
}
.section.work{
    text-align: center;
    padding-top: 0px;
}
.work-title{
    color:var(--title-text-colot);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.work-list{
    display: flex;
    justify-content: space-between;
}
.work-list .work-item + .work-item{
    margin-left: 30px;
}

/* Team */
.section.team{
    background-color: var(--team-bgc-color);
    text-align: center;
}
.team-list{
    list-style: none;
}
.team-item{
    background-color: var(--primary-white-color);
}
.team-title{
    color:var(--title-text-colot);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.team-caption{
    color: var(--title-text-colot);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.team-text{
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-list{
    display: flex;
}
.team-list .team-item + .team-item{
    margin-left: 30px;
}
.team-box{
    background-color: var(--primary-white-color);
    padding: 30px 0 ;
}
/* Portfolio */
.content-list .content-button{
    display: inline-block;
    color: var(--title-text-colot);
    background-color: var(--button-bgc-color);
    border-color: transparent;
    border-radius: 4px;
    font-family:"Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    padding: 6px 22px;
    border-style: none;
}
.content-button:hover,
.content-button:focus,
.content-button curent{
color: var(--primary-white-color);
background-color: var(--accent-color);
}

.content-text{
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
.content-title{
    color: var(--title-text-colot);
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
    letter-spacing: 0.06em;
}
.content-primary-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}
.content-primary-list .content-list + .contact-list{
    margin-left: 20px;
}
.content-secondary-list{
    display: flex;
    flex-wrap: wrap;
}
.wrap-items {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .wrap-items:nth-child(3n) {
    margin-right: 0;
  }
  .wrap-items:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  .content-block{
    padding: 20px 24px;
    border-color:1px solid var(--content-border-color);
    border-top-color: 0;
  }

/* Footer */
.footer{
    background-color: var(--header-bgc-color);
    padding: 60px 0;
}
.container .logo{
    padding: 0 0 20px 0;
}
.address-item:not(:last-child) {
    margin-bottom: 9px;
  }
.address-item .address-contact{
    font-family: "Roboto";
    color: var(--fotter-contact-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.address-destination{
    font-family: "Roboto";
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 9px;
}
.address{
    font-style: normal;
}
.address-contact:hover,
.address-contact:focus{
    color: var(--accent-color);
}
    
                

/* .container{
    width: 1170px;
    margin: 0 auto;
} */
